.navbar{
    z-index: 0;
}
.ui-dialog-content {
    z-index: 10; !important;
}
.ui-datepicker{
    z-index: 9999999999999999 !important;
}
.admin{
    background-color: #ffffff; !important;
}

.mb20{
    margin-bottom: 20px;
}
body{
    background-color: #8c8c8c;
}
.height{
    height: 50px;
}
a:hover{
    text-decoration: none;
}
.logo{
    font-family:Courier New;
    color: white;

}
#menu a{
    color: white;
    cursor: pointer;
}
.navbar{
    background-color: #000000;
}
.icons{
    margin-left: 15px;
}
.close{
    top: -2px;
    right: -21px;
    color: inherit;
}
