<div class="row">
    <div class="col-md-12">
        <div id="game">
            <h2 id="finishedGame">Gracias por jugar!</h2>
            <div id="dialogResults">
                <div id="manTalking">
                    <img src="../imgs/answerMan.jpg" alt="Man talking" >
                </div>
                <div id="triangleBalloon">
                    <div id="borderTriangle"></div>
                </div>
                <div id="balloon">
                    <div id="text">
                        <h4><strong>Enhorabuena!</strong></h4><p> Has acertado <span id="numQuestionsRight"></span> preguntas!</p><p> Tu edad mental es de: <scpan id="ageOfGame"></scpan> años!</p>
                    </div>
                </div>
            </div>
            <div id="goProfile" class="btn btn-response"><p>Volver al perfil</p></div>
        </div>
    </div>
</div>