<div id="dialog" class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="game">
                    <h2 id="Statement">Pregunta 1: Como me llamo?</h2>
                    <div class="answers">
                        <ul>
                            <li><button class="btn btn-response" id="Answer1">Respuesta 1</button></li>
                            <li><button class="btn btn-response" id="Answer2">Respuesta 2</button></li>
                        </ul>
                        <ul>
                            <li><button class="btn btn-response" id="Answer3">Respuesta 3</button> </li>
                            <li><button class="btn btn-response" id="Answer4">Respuesta 4</button></li>
                        </ul>
                    </div>
                    <div id="progress-bar">
                        <span class="progress-bar-fill" style="width: 1%"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>