
<table class="text-center table table-condensed table-striped table-bordered">
    <thead class="text-center">
    <tr>
        <th></th>
        <th class="text-center">Tema</th>
        <th class="text-center">Enunciado</th>
    </tr>
    </thead>
    <tbody class="questions">
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/momentjs/moment.min.js"></script>
<script src="../js/jqueryUI/jquery-ui.min.js"></script>
<script src="../js/addQuestionAdmin.js"></script>
<script src="../js/globalEvents.js"></script>

