<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../js/jqueryUI/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="../css/styles.css">
<link rel="stylesheet" type="text/css" href="../css/gameStyles.css">
<script src="https://use.fontawesome.com/c7b77a6ac8.js"></script>
<div id="dialog" class="container">
    <div class="container containerUserProfile">
        <div class="row">
            <div id="userProfile">
                <h2 id="profileName">Perfil del jugador: </h2>
                <div class="col-md-offset-2 col-md-8">
                    <p>Numero de partidas jugadas: <span id="numGames"></span></p>
                    <table id="gameResults" class="text-center table table-condensed table-striped table-bordered">
                        <thead class="text-center">
                        <tr>
                            <th class="text-center">Fecha partida</th>
                            <th class="text-center">Edat mental obtenida</th>
                        </tr>
                        </thead>
                        <tbody class="questions">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/jqueryUI/jquery-ui.min.js"></script>
<script src="../js/userProfile.js"></script>
<script>
    $('document').ready(function () {
        loadProfile();
    })
</script>

